<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475115728794-natv1dhslluf8lek28987r6e9tnatemp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475115728794-natv1dhslluf8lek28987r6e9tnatemp</string>
	<key>API_KEY</key>
	<string>AIzaSyC0EC5SZB1YGrbrfsfTLdkv4A2KL7145yk</string>
	<key>GCM_SENDER_ID</key>
	<string>475115728794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hendrixTodayApp</string>
	<key>PROJECT_ID</key>
	<string>hendrix-today-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hendrix-today-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475115728794:ios:dce908531bb87af4595423</string>
</dict>
</plist>