<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hendrix_today_app">
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="sms" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="tel" />
    </intent>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
  </queries>
  
</manifest>
